<wicket:panel>
    <div class="group">
        <div class="top-left">
            <div class="top-right">
                <div class="bottom-left">
                    <div class="bottom-right">
                        <div wicket:id="label" class="label"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>