<?xml version="1.0" encoding="UTF-8" ?>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <div wicket:id="title">title here</div>
  <div wicket:id="summary">summary here</div>
</wicket:panel>