<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="wicketExtensionsWizard">
		<form wicket:id="form">
			<div class="row">
				<span wicket:id="overview"></span>
			</div>
			<div class="row">
				<span wicket:id="header"></span>
			</div>
			<div class="row">
				<div wicket:id="view"></div>
			</div>
			<div class="row">
				<span wicket:id="feedback"></span>
			</div>
			<div class="row">
				<span wicket:id="buttons"></span>
			</div>
		</form>
	</div>
</wicket:panel>