<?xml version="1.0" encoding="UTF-8" ?>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<input wicket:id="previous" type="submit" value="previous" />
	<input wicket:id="next" type="submit" value="next" />
	<input wicket:id="last" type="submit" value="last" />
	<input wicket:id="cancel" type="submit" value="cancel" />
	<input wicket:id="finish" type="submit" value="finish" />
</wicket:panel>