.toggle .open,
.toggle .close {
		background-repeat: no-repeat;
		padding-left: 15px;
		background-position: left center;
}
.toggle .open {
	background-image: url('open.png');
}

.toggle .close {
	background-image: url('close.png');
}
